extends layout

block content
  .container.mt-5.background-custom
    h1.mb-4 Add a Skill
    form(action="/admin/skill" method="POST")
      .mb-3
        label.form-label(for="name") Name:
        input.form-control(type="text" name="name" id="name")
      .mb-3
        label.form-label(for="level") Level:
        select.form-select(name="level" id="level")
          option(value="Beginner") Beginner
          option(value="Intermediate") Intermediate
          option(value="Expert") Expert
      .mb-3
        label.form-label(for="technology") Technologies:
        input.form-control(type="text" name="technology" id="technology")
      button.btn.btn-primary(type="submit") Save Skill
